*.sublime-project
*.sublime-workspace
todo.txt
reset-files.bash

!release

*.tar.gz

*.exe
src/zeroone
src/zerooned
src/zeroone-cli
src/zeroone-tx
src/test/test_zeroone
src/qt/test/test_zeroone-qt
src/bench/bench_zeroone

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
.zeroone
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Unit-tests
Makefile.test
zeroone-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_zeroone.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests_config.py
qa/pull-tester/cache/*
qa/pull-tester/test.*/*
qa/tmp
cache/
share/BitcoindComparisonTool.jar

!src/leveldb*/Makefile

.cproject
.project
.autotools
/doc/doxygen/

libbitcoinconsensus.pc
src/qt/zeroone-qt.bash
qa/pull-tester/tests-config.sh

#development symlinks
zeroone-cli
zerooned
zeroone-qt
